.container-input-search {
	background-image: url('./images/hero-background.png');
	background-repeat: no-repeat;
	background-position: bottom;


	&__subcontainer {
		@apply p-1 rounded-md text-[#b9bdcf] overflow-x-hidden border-[1px] border-transparent bg-white transition-colors flex items-center gap-1;

		&:focus-within {
			@apply border-[#1E86FF];
		}

		@media screen and (min-width: 500px) {
			@apply gap-2;
		}
	}
}

.container-input-location {
	@apply w-full p-3 text-[#B9BDCF] text-xs border-[1px] border-transparent bg-white rounded shadow overflow-x-hidden flex items-center gap-3;

	&:focus-within {
		@apply border-[#1E86FF];
	}
}

.modal-job {}

.hidden-smooth {
	@apply transition-opacity;
	display: none;
	opacity: 0;
}

.show-smooth {
	opacity: 1;
	@apply transition-opacity;
}